@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    background: rgb(0,58,130);
    background: linear-gradient(0deg, rgba(0,58,130,1) 0%, rgba(0,4,42,1) 100%);
}

/*CODIGO DE DYLAN*/
.animacionJuegos:hover{
  opacity: 0.5;
}
/*CODIGO DE DYLAN*/


/*Fuente que usamos para los textos pequeños*/
.fuente1 {
  font-family: "Kode Mono", monospace;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

/*Fuente rara, usar poco*/
.fuente2 {
  font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/*Fuente que usamos para los textos grandes*/
.fuente3{
  font-family: "Rubik Mono One", monospace;
  font-weight: 400;
  font-style: normal;
}
/*------------------------------------------*/




/*Efecto zoom cuando pasas el mouse por un link*/
a:hover{
  transform: scale(1.1);
  color: orange;
} /*Funciona en el header*/
/*---------------------------------------------*/

.btnOrange:hover{
  background-color: orange;
}
