<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='src/input.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/output.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lilita+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lilita+One&family=Rubik+Mono+One&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/logops1.svg') }}" type="image/x-icon">

    <title>ERDV | Juegos</title>
</head>
<body class="text-white bg-gray-900">
    <!--Header: Necesitamos terminar de codear las demas paginas y también Crear el formulario Login/Register para el boton "Acceder" del header-->
    <header class="bg-[#222831]">
        <nav class="tablet:flex pc:flex tv:flex items-center justify-between pc:mx-20 pc:py-4 tablet:mx-20 tablet:py-4 tv:mx-20 tv:py-1 celu:mx-4 celu:py-4">
                <div class="flex justify-center celu:hidden">
                    <img class="celu:w-8 tablet:w-10 pc:w-12 tv:w-14" src="{{ url_for('static', filename='img/logops1.svg') }}" alt="El Rincon Del Vicio">
                </div>
                
                <div class="linkheader">
                    <ul class="tablet:flex pc:flex tv:flex celu:flex celu:justify-center celu:text-center celu:space-x-2 tablet:space-x-4 pc:space-x-6 celu:text-xs tv:text-xl tv:mx-20 tv:space-x-8">
                        <a class="link rounded-2xl hover:text-white border p-2 animacionZoom text-white text-decoration-none" href="{{ url_for('index') }}"><li><b>INICIO</b></li></a>
                        <a class="link rounded-2xl hover:text-white border p-2 animacionZoom text-white text-decoration-none" href="{{ url_for('juegos') }}"><li><b>JUEGOS</b></li></a>
                        <a class="link rounded-2xl hover:text-white border p-2 animacionZoom text-white text-decoration-none" href="{{ url_for('noticias') }}"><li><b>NOTICIAS</b></li></a>
                        <a class="link rounded-2xl hover:text-white border p-2 animacionZoom text-white text-decoration-none" href="{{ url_for('ayuda') }}"><li><b>AYUDA</b></li></a>
                    </ul>
                </div>

            <div class="celu:mt-4 tablet:flex pc:flex tv:flex celu:flex celu:justify-center celu:space-x-2 celu:text-xs tablet:space-x-2 pc:space-x-4 tv:space-x-6 tv:text-xl tv:mb-6 mt-4">
                <div id="authenticated" data-authenticated="{{ 'true' if current_user.is_authenticated else 'false' }}">
                    <div id="boton-registro" style="display: {% if not authenticated %}block{% else %}none{% endif %};">
                        <a class="inline-block border rounded-full p-1 bg-gray-500 hover:bg-orange-500 text-white" href="{{ url_for('show_signup_form') }}"><b>Registrarse</b></a>
                    </div>                    
                    <div id="boton-perfil" style="display: {% if current_user.is_authenticated %}block{% else %}none{% endif %};">
                        <a href="{{ url_for('perfil') }}" class="border-black rounded-2xl p-1 bg-sky-600 hover:bg-sky-700 text-white">{{ current_user.name }}</a>
                    </div>  
                </div>                    
            </div>
        </nav>
    </header>
    
    <!--Main: necesitamos crear el main de esta pagina en forma de galeria, con la informacion de los juegos y boton de descarga-->
    
    <main class="flex flex-col items-center">

        <!--BOTON DEL BUSCADOR-->
        <div class="w-full flex justify-end items-center m-5">
            <div class="flex flex-row-reverse items-center justify-center w-1/3 h-10 mx-10 bg-slate-800 bg-opacity-70  rounded-xl">
                <button type="button"><img src="https://ainamoreno.github.io/Reto-Netflix/img/lupa.png" alt="" class="w-8 h-8 m-3"></button>
                <input type="text" class="w-full text-white h-full bg-transparent p-2 rounded-xl">
            </div>
        </div>

        <!--TITULO-->
        <h1 class="text-center text-3xl my-6 fuente3 text-orange-400
        ">BIBLIOTECA
        </h1>

        <!--CATALOGO-->

        <div class="flex flex-wrap items-center justify-center m-5 w-3/5 mb-20">
            <a href="{{ url_for('juegos') }}"><button type="button" id="filtro-casual" onclick="filtrarJuegos('casual')" class="m-1 bg-slate-800 bg-opacity-30 p-3 rounded-xl hover:bg-opacity-70"><img class="w-6 h-auto" src="{{ url_for('static', filename='img/juegos/home-svgrepo-com.svg') }}" alt="" srcset=""></button></a>
            <button type="button" id="filtro-aventura" onclick="filtrarJuegos('action')" class="m-1 bg-slate-800 bg-opacity-30 p-3 rounded-xl hover:bg-opacity-70">action</button>
            <button type="button" id="filtro-accion" onclick="filtrarJuegos('racing')" class="m-1 bg-slate-800 bg-opacity-30 p-3 rounded-xl hover:bg-opacity-70">racing</button>
            <button type="button" id="filtro-terror" onclick="filtrarJuegos('fighting')" class="m-1 bg-slate-800 bg-opacity-30 p-3 rounded-xl hover:bg-opacity-70">fighting</button>
            <button type="button" id="filtro-estrategia" onclick="filtrarJuegos('survival')" class="m-1 bg-slate-800 bg-opacity-30 p-3 rounded-xl hover:bg-opacity-70">survival</button>
            <button type="button" id="filtro-casual" onclick="filtrarJuegos('rpg')" class="m-1 bg-slate-800 bg-opacity-30 p-3 rounded-xl hover:bg-opacity-70">rpg</button>
            <button type="button" id="filtro-casual" onclick="filtrarJuegos('shooter')" class="m-1 bg-slate-800 bg-opacity-30 p-3 rounded-xl hover:bg-opacity-70">shooter</button>
            <button type="button" id="filtro-casual" onclick="filtrarJuegos('deporte')" class="m-1 bg-slate-800 bg-opacity-30 p-3 rounded-xl hover:bg-opacity-70">deporte</button>
            <button type="button" id="filtro-casual" onclick="filtrarJuegos('boxing')" class="m-1 bg-slate-800 bg-opacity-30 p-3 rounded-xl hover:bg-opacity-70">boxing</button>
            <button type="button" id="filtro-casual" onclick="filtrarJuegos('adventure')" class="m-1 bg-slate-800 bg-opacity-30 p-3 rounded-xl hover:bg-opacity-70">dventure</button>
            <button type="button" id="filtro-casual" onclick="filtrarJuegos('puzzle')" class="m-1 bg-slate-800 bg-opacity-30 p-3 rounded-xl hover:bg-opacity-70">puzzle</button>
            <button type="button" id="filtro-casual" onclick="filtrarJuegos('soccer')" class="m-1 bg-slate-800 bg-opacity-30 p-3 rounded-xl hover:bg-opacity-70">soccer</button>
            <button type="button" id="filtro-casual" onclick="filtrarJuegos('strategy')" class="m-1 bg-slate-800 bg-opacity-30 p-3 rounded-xl hover:bg-opacity-70">strategy</button>
            <button type="button" id="filtro-casual" onclick="filtrarJuegos('combat')" class="m-1 bg-slate-800 bg-opacity-30 p-3 rounded-xl hover:bg-opacity-70">combat</button>
            <button type="button" id="filtro-casual" onclick="filtrarJuegos('sports')" class="m-1 bg-slate-800 bg-opacity-30 p-3 rounded-xl hover:bg-opacity-70">sports</button>
        </div>

            <!--Lista de juegos-->
            <div id="lista-juegos">
                <div class="flex flex-row">   
                    <div class="flex flex-col w-100">
                        <div class="flex justify-center">
                            <div class="grid grid-cols-3 celu:grid-cols-1 gap-1">
                                {% for product in products %}
                                    <div class="flex flex-col shadow-md items-start justify-center p-2 rounded-md">
                                        <a href="{{ url_for('juegos_indivi', juegos_indivi_id=product.id_juego) }}">
                                            <img src="{{ product.url_imagen }}" alt="{{ product.nombre }}" class="w-52 h-52 mb-1 rounded-md">
                                        </a>
                                        <h2 class="text-xl font-semibold mb-2 text-white py-2">{{ product.nombre }}</h2>
                                        <p class="text-sm text-white">Género: {{ product.genero }}</p>
                                        <p class="text-sm text-white">Lanzamiento: {{ product.lanzamiento }}</p>
                                        <a href="{{ url_for('juegos_indivi', juegos_indivi_id=product.id_juego) }}" class="text-blue-500 mt-2 block">Ver más</a>
                                    </div>                
                                {% endfor %}
                            </div>
                        </div>
                </div>
            </div>
                    <!--PASADOR DE PAGINAS-->
            <div class="mt-8 flex justify-center space-x-3">
                {% if page > 1 %}
                    <a href="{{ url_for('juegos', page=page-1) }}" class="text-blue-500">Anterior</a>
                {% endif %}
                {% for p in range(1, total_pages + 1) %}
                    {% if p == page %}
                         <span class="text-blue-500 font-semibold">{{ p }}</span>
                    {% else %}
                        <a href="{{ url_for('juegos', page=p) }}" class="text-blue-500">{{ p }}</a>
                    {% endif %}
                    {% endfor %}
                    {% if page < total_pages %}
                        <a href="{{ url_for('juegos', page=page+1) }}" class="text-blue-500">Siguiente</a>
                        {% endif %}
             </div>
        </div>            
    </main>
    <!--PIE DE PAGINA-->
    <footer class="bg-[#222831] px-2 celu:text-xs text-center">
        <div class="mt-20 mb-2 flex justify-evenly pt-2">
            <a href="#"><p>Website Regulations</p></a>
            <a href="#"><p>Website rules</p></a>
            <a href="#"><p>Privacy Policy</p></a>
        </div>
        <div class="pb-4">
            <p>© 2019-2024 ElRinconDelVicio - Download free games PC.</p>
        </div>
    </footer>

    <script src="/static/Funciones js/filtro-genero.js"></script>
    <script>
        
        var authenticated = document.getElementById('authenticated').getAttribute('data-authenticated');

        // Oculta el botón de registro si el usuario está autenticado
        if (authenticated === 'true') {
           document.getElementById('boton-registro').style.display = 'none';
        }

    </script>
    
</body>
</html>
