<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='src/input.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/output.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lilita+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lilita+One&family=Rubik+Mono+One&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/logops1.svg') }}" type="image/x-icon">

    <title>ERDV | Juegos</title>
</head>
<body class="text-white bg-gray-900">
    <!--Header: Necesitamos terminar de codear las demas paginas y también Crear el formulario Login/Register para el boton "Acceder" del header-->
    <header class="bg-[#222831]">
        <nav class="tablet:flex pc:flex tv:flex items-center justify-between pc:mx-20 pc:py-4 tablet:mx-20 tablet:py-4 tv:mx-20 tv:py-1 celu:mx-4 celu:py-4">
                <div class="flex justify-center celu:hidden">
                    <img class="celu:w-8 tablet:w-10 pc:w-12 tv:w-14" src="{{ url_for('static', filename='img/logops1.svg') }}" alt="El Rincon Del Vicio">
                </div>
                
                <div class="linkheader">
                    <ul class="tablet:flex pc:flex tv:flex celu:flex celu:justify-center celu:text-center celu:space-x-2 tablet:space-x-4 pc:space-x-6 celu:text-xs tv:text-xl tv:mx-20 tv:space-x-8">
                        <a class="link rounded-2xl hover:text-white border p-2 animacionZoom text-white text-decoration-none" href="{{ url_for('index') }}"><li><b>INICIO</b></li></a>
                        <a class="link rounded-2xl hover:text-white border p-2 animacionZoom text-white text-decoration-none" href="{{ url_for('juegos') }}"><li><b>JUEGOS</b></li></a>
                        <a class="link rounded-2xl hover:text-white border p-2 animacionZoom text-white text-decoration-none" href="{{ url_for('noticias') }}"><li><b>NOTICIAS</b></li></a>
                        <a class="link rounded-2xl hover:text-white border p-2 animacionZoom text-white text-decoration-none" href="{{ url_for('ayuda') }}"><li><b>AYUDA</b></li></a>
                    </ul>
                </div>

            <div class="celu:mt-4 tablet:flex pc:flex tv:flex celu:flex celu:justify-center celu:space-x-2 celu:text-xs tablet:space-x-2 pc:space-x-4 tv:space-x-6 tv:text-xl tv:mb-6 mt-4">
                <div id="authenticated" data-authenticated="{{ 'true' if current_user.is_authenticated else 'false' }}">
                    <div id="boton-registro" style="display: {% if not authenticated %}block{% else %}none{% endif %};">
                        <a class="inline-block border rounded-full p-1 bg-gray-500 hover:bg-orange-500 text-white" href="{{ url_for('show_signup_form') }}"><b>Registrarse</b></a>
                    </div>                    
                    <div id="boton-perfil" style="display: {% if current_user.is_authenticated %}block{% else %}none{% endif %};">
                        <a href="{{ url_for('perfil') }}" class="border-black rounded-2xl p-1 bg-sky-600 hover:bg-sky-700 text-white">{{ current_user.name }}</a>
                    </div>  
                </div>                    
            </div>
        </nav>
    </header>
    
    <!--Main: necesitamos crear el main de esta pagina en forma de galeria, con la informacion de los juegos y boton de descarga-->
    
    <main class="flex flex-col items-center">

        <!--BOTON DEL BUSCADOR-->
        <div class="w-full flex justify-end items-center m-5">
            <div class="flex flex-row-reverse items-center justify-center w-1/3 h-10 mx-10 bg-slate-800 bg-opacity-70  rounded-xl">
                <button type="button"><img src="https://ainamoreno.github.io/Reto-Netflix/img/lupa.png" alt="" class="w-8 h-8 m-3"></button>
                <input type="text" class="w-full text-white h-full bg-transparent p-2 rounded-xl">
            </div>
        </div>

        <!--TITULO-->
        <h1 class="text-center text-3xl my-6 fuente3 text-orange-400
        ">BIBLIOTECA
        </h1>

        <!--CATALOGO-->

        <div class="flex flex-wrap items-center justify-center m-5 w-4/5">
            <button type="button" class="m-1 bg-slate-800 bg-opacity-30 p-3 rounded-xl hover:bg-opacity-70">Aventura</button>
            <button type="button" class="m-1 bg-slate-800 bg-opacity-30 p-3 rounded-xl hover:bg-opacity-70">Acción</button>
            <button type="button" class="m-1 bg-slate-800 bg-opacity-30 p-3 rounded-xl hover:bg-opacity-70">terror</button>
            <button type="button" class="m-1 bg-slate-800 bg-opacity-30 p-3 rounded-xl hover:bg-opacity-70">Estrategia</button>
            <button type="button" class="m-1 bg-slate-800 bg-opacity-30 p-3 rounded-xl hover:bg-opacity-70">Casual</button>
        </div>

            <!--Lista de juegos-->
        <div class="flex flex-row">   
            <div class="flex flex-col w-3/4">
                <div class="flex justify-center">
                    <div class="grid grid-cols-3 celu:grid-cols-1 gap-4 w-1/2">
                        {% for product in products %}
                           <div class="bg-white p-4 shadow-md content-center">
                                <h2 class="text-xl font-semibold mb-2">{{ product.nombre }}</h2>
                                <a href="{{ url_for('juegos_indivi', juegos_indivi_id=product.id_juego) }}"><img src="{{ product.url_imagen }}" alt="{{ product.nombre }}" class="w-full mb-1">/a>
                                <h1 class="text-2sm font-bold text-black">{{ product.nombre }}</h1>
                                <p class="text-sm text-gray-600">Género: {{ product.genero }}</p>
                                <p class="text-sm text-gray-600">Lanzamiento: {{ product.lanzamiento }}</p>
                                <a href="{{ url_for('juegos_indivi', juegos_indivi_id=product.id_juego) }}" class="text-blue-500 mt-2 block">Ver más</a>
                            </div>                         
                        {% endfor %}
                    </div>
                </div>

                <!--PASADOR DE PAGINAS-->
                <div class="mt-8 flex justify-center space-x-3">
                    {% if page > 1 %}
                        <a href="{{ url_for('juegos', page=page-1) }}" class="text-blue-500">Anterior</a>
                    {% endif %}
                    {% for p in range(1, total_pages + 1) %}
                        {% if p == page %}
                            <span class="text-blue-500 font-semibold">{{ p }}</span>
                        {% else %}
                            <a href="{{ url_for('juegos', page=p) }}" class="text-blue-500">{{ p }}</a>
                        {% endif %}
                    {% endfor %}
                    {% if page < total_pages %}
                        <a href="{{ url_for('juegos', page=page+1) }}" class="text-blue-500">Siguiente</a>
                    {% endif %}
                </div>
            </div>
            <!--ANUNCIOS-->
            <div class="flex flex-row w-auto">
                <div>
                    <img id="ad-image" src="/app/static/img/publi/euroTruck.jpg" alt="">
                </div>
            <div>
                <img id="ad-image" src="/app/static/img/publi/lolMobile.jpg" alt="" srcset="">
            </div>
            </div>  
        </div>
    </main>
    <!--PIE DE PAGINA-->
    <footer class="bg-[#222831] px-2 celu:text-xs text-center">
        <div class="mt-20 mb-2 flex justify-evenly pt-2">
            <a href="#"><p>Website Regulations</p></a>
            <a href="#"><p>Website rules</p></a>
            <a href="#"><p>Privacy Policy</p></a>
        </div>
        <div class="pb-4">
            <p>© 2019-2024 ElRinconDelVicio - Download free games PC.</p>
        </div>
    </footer>

    <script>
        // Definir las imágenes de anuncios y su índice actual
        let sliderImages = [
            "https://controlpublicidad.com/uploads/2018/11/playstation2-103700.jpg",
            "https://cdn.hobbyconsolas.com/sites/navi.axelspringer.es/public/media/image/2019/11/hitech-suplemento-2.jpg?tf=3840x"
        ];
    
        let sliderImages2 = [
            "https://i0.wp.com/pivigames.blog/wp-content/uploads/2018/12/Descargar-Euro-Truck-Simulator-2-PC-Gratis-min.jpg?resize=576%2C350&ssl=1",
            "https://c8.alamy.com/compes/2c6thgt/vigilante-8-2da-ofensa-sony-playstation-1-ps1-psx-solo-uso-editorial-2c6thgt.jpg"
        ];
        
        let currentIndex = 0;
    
        // Función para cambiar las imágenes
        function cambiarImagenes() {
            // Obtener las referencias a las imágenes de anuncios
            let image1 = document.getElementById('sliderImagen1');
            let image2 = document.getElementById('sliderImagen2');
    
            // Cambiar las imágenes de anuncios y gestionar la visibilidad
            image1.src = sliderImages[currentIndex];
            image2.src = sliderImages2[currentIndex];
    
            // Incrementar el índice para las siguientes imágenes
            currentIndex = (currentIndex + 1) % sliderImages.length;
    
            // Reiniciar el temporizador después de 8 segundos
            setTimeout(cambiarImagenes, 8000);
        }
    
        // Llamar a la función inicialmente
        cambiarImagenes();
    </script>
    
    <script>
        
        var authenticated = document.getElementById('authenticated').getAttribute('data-authenticated');

        // Oculta el botón de registro si el usuario está autenticado
        if (authenticated === 'true') {
           document.getElementById('boton-registro').style.display = 'none';
        }

    </script>
    
</body>
</html>
